/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #212121; /* 브라우저 상에 스크롤이 생겨 body 영역의 하얀 배경이 보여서 body 배경도 색상을 설정함 */
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

button {
    background-color: transparent;
    border: none;
}

input {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1320px;
}

/* Reusable CSS Classes */
.flex-align-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.flex-align-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-align-end {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

/* Youtube Top Nav */
#youtube-top-nav {
    position: fixed;
    width: 100%;
    height: 56px;
    background-color: #212121;
    padding: 0 16px;
    z-index: 999;
}

#youtube-top-nav .nav-left {
    height: 56px;
}

#youtube-top-nav .nav-left .btn-menu {
    width: 24px;
    height: 24px;
    background-color: yellow;
}

#youtube-top-nav .nav-left h1 {
    margin-left: 16px;
}

#youtube-top-nav .nav-left h1 a {
}

#youtube-top-nav .nav-left h1 img {
    width: 90px;
    height: 20px;
}

#youtube-top-nav .nav-center {
    /* flex 영역에서 벗어나 항상 정중앙에 배치되도록 설정 */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
}

#youtube-top-nav .nav-center .search-wrap {
    width: 640px;
    height: 30px;
}

#youtube-top-nav .nav-center .search-wrap input {
    width: calc(100% - 65px);
    height: 30px;
    border: solid 1px gray;
    background-color: #212121;
    color: #fff;
    padding: 2px 6px;
    font-size: 14px;
}

#youtube-top-nav .nav-center .search-wrap .btn-search {
    width: 65px;
    height: 30px;
    border: solid 1px gray;
    background-color: gray;
}

#youtube-top-nav .nav-center .btn-voice {
    width: 24px;
    height: 24px;
    background-color: blue;
    margin-left: 16px;
}

#youtube-top-nav .nav-right {
    height: 56px;
}

#youtube-top-nav .nav-right .btn-menu {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-1 {
    background-color: gray;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-2 {
    background-color: yellow;
}

#youtube-top-nav .nav-right .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;
    padding: 10px 12px 8px;
    font-size: 14px;
    color: #3ea6ff;
}

/* Youtube Left Nav */
/*
    #youtube-left-nav 영역(width: 240px)에 스크롤이 생기도록 설정하면 
    #youtube-left-content 영역(width: 230px)에 영향을 주지 않기 때문에
    스크롤때문에 레이아웃이 틀어지는 현상을 막을 수 있다.
*/

#youtube-left-nav {
    overflow-y: auto; /* 선택적으로 스크롤이 생기도록 설정 */
    overflow-x: hidden; /* x축으로 벗어나는 콘텐츠는 숨김 */
    position: fixed;
    width: 240px;
    top: 56px;
    left: 0;
    bottom: 0;
    background-color: #212121;
}

#youtube-left-content {
    position: absolute; /* 스크롤 뒷쪽으로 콘텐츠가 겹쳐지는 현상이 발생 */
    width: 230px;
    height: 100%;
}

#youtube-left-content .nav-section {
    padding: 8px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#youtube-left-content .nav-section .nav-title-wrap {
    padding: 8px 24px;
}

#youtube-left-content .nav-section .nav-title-wrap h2 {
    color: #aaa;
    font-size: 15px;
    font-weight: bold;
}

#youtube-left-content .nav-section .nav-body {
}

#youtube-left-content .nav-section .nav-body ul {
}

#youtube-left-content .nav-section .nav-body li {
}

#youtube-left-content .nav-section .nav-body li a {
    height: 40px;
    padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body li .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    margin-right: 24px;
}

#youtube-left-content .nav-section .nav-body li span {
    font-size: 13px;
    color: #fff;
}

#youtube-left-content .nav-section .nav-body .txt-wrap {
    padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body .txt-wrap p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

#youtube-left-content .nav-section .nav-body .txt-wrap .btn-login {
    display: inline-block; /* 높이값을 제대로 인식하지 못해서 설정함 */
    border: solid 1px #3ea6ff;
    padding: 10px 12px 8px;
    font-size: 14px;
    color: #3ea6ff;
    margin-top: 12px;
}

#youtube-left-content #youtube-footer {
    padding-bottom: 150px;
}

#youtube-left-content #youtube-footer .txt-wrap {
    padding: 12px 24px 0;
}

#youtube-left-content #youtube-footer .txt-wrap a {
    margin-right: 8px;
    color: #aaa;
    font-size: 12px;
    font-weight: 500;
    word-break: keep-all; /* 줄바꿈에 영향을 주는 CSS 속성으로 단어를 기준으로 줄바꿈이 되도록 설정함 */
}

#youtube-left-content #youtube-footer .txt-wrap p {
    font-size: 12px;
    font-weight: 400;
    color: #aaa;
}

/* Youtube Main */
#youtube-main {
    position: absolute;
    left: 240px;
    top: 56px;
    right: 0;
    bottom: 0;
    background-color: #212121;
}

#youtube-main-content {
    width: 100%;
    height: 100%;
    padding: 24px;
}

#youtube-main-content ul {
    align-items: flex-start;
    align-content: flex-start; /* stretch 속성때문에 불필요한 margin-bottom이 생김 */
    width: 100%;
    height: 100%;
}

#youtube-main-content ul li {
    width: 24%;
    background-color: #212121;
    margin-bottom: 40px;
}

#youtube-main-content ul li .video-thumbnail {
    width: 100%;
}

#youtube-main-content ul li .video-thumbnail a {
    position: relative;
    display: block;
    width: 100%;
}

#youtube-main-content ul li .video-thumbnail img {
    width: 100%;
}

#youtube-main-content ul li .video-thumbnail .time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    color: #fff;
    padding: 3px 4px;
    bottom: 4px;
    right: 4px;
}

#youtube-main-content ul li .video-txt-wrap {
    align-items: flex-start;
    margin-top: 12px;
}

#youtube-main-content ul li .video-txt-wrap .image-link {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
}

#youtube-main-content ul li .video-txt-wrap .image-link img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#youtube-main-content ul li .video-txt-wrap .txt {
    width: calc(100% - 48px);
}

#youtube-main-content ul li .video-txt-wrap .txt h3 {
    font-size: 15px;
    margin-bottom: 6px;
}

#youtube-main-content ul li .video-txt-wrap .txt .title-link {
    color: #fff;
}

#youtube-main-content ul li .video-txt-wrap .txt p {
    font-size: 12px;
}

#youtube-main-content ul li .video-txt-wrap .txt p .channel-link {
    color: #aaa;
}

#youtube-main-content ul li .video-txt-wrap .txt .txt-bottom {
}

#youtube-main-content ul li .video-txt-wrap .txt .txt-bottom .count,
#youtube-main-content ul li .video-txt-wrap .txt .txt-bottom .date {
    font-size: 12px;
    color: #aaa;
}
