* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    width: 375px;
    height: 100vh;

    background: #eaeaf3;
    margin: 0 auto;
}

/* Main Nav */
#main-nav {
    overflow: hidden;
    background-color: rgb(7, 189, 120);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

#main-nav ul {
    overflow-x: auto;
    display: flex;
    align-items: center;

    white-space: nowrap;
}

/*
Mac 사용자는 스크롤바 없이 트랙패드로 스와이프 가능하므로
스크롤바를 없애주었다.
#main-nav ul {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#main-nav ul::-webkit-scrollbar {
    display: none;
}
*/

#main-nav li {
    height: 54px;
    text-align: center;
}

#main-nav a {
    height: 100%;
    line-height: 54px;
    color: rgb(141, 223, 183);
    padding: 0 10px;
}

/* Header */
#header {
    background-color: #f4f6f8;
    padding: 120px 0 80px;
}

#header .search-wrap {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 333px;
    background-color: #fff;
    border: solid 1px rgb(7, 189, 120);
    border-radius: 10px;
    margin: 0 auto 24px;
}

#header .link-logo {
    display: block;
    width: 42px;
    height: 42px;
    background-color: green;
}

#header .search-wrap input {
    width: calc(100% - 78px);
    height: 22px;
    font-size: 18px;
    padding: 0 20px;
}

#header .link-voice {
    display: block;
    width: 36px;
    height: 36px;
    background-color: green;
}

#header .header-nav {
    width: 316px;
    margin: 0 auto;
}

#header .header-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

#header .header-nav li {
    width: 25%;
    padding-top: 12px;
}

#header .header-nav a {
    display: block;
    width: 100%;
    text-align: center;
}

#header .header-nav .icon {
    display: inline-block; /* inline-block 요소로 변경해야 공간을 잡을 수 있음 */
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background-color: #fff;
    border: solid 1px gray;
}

#header .header-nav .icon-1 {
    background-color: blue;
}

#header .header-nav .icon-2 {
    background-color: purple;
}

#header .header-nav span {
    display: block;
    font-size: 11px;
    color: #1e1e23;
    /* margin-top: 5px; */
}

/* Banner 1 */
#banner-1 {
    background-color: #f4f6f8;
}

#banner-1 .banner-wrap {
    width: 100%;
    margin: 0 auto;
}

#banner-1 img {
    width: 100%;
}

/* Weather */
#weather {
    background-color: #fff;
}

#weather .container {
    padding: 0 20px;
}

#weather .weather-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 22px 0 16px;
}

#weather .weather-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#weather .weather-left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    margin-right: 15px;
}

#weather .weather-left .txt-wrap h3 {
    font-size: 16px;
}

#weather .weather-left .txt-wrap p {
    font-size: 14px;
}

#weather .weather-left .txt-wrap span {
    color: #00d01d;
}

#weather .weather-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

#weather .weather-right span {
    font-size: 14px;
    margin-right: 8px;
}

#weather .weather-right .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;

    color: #767678;
}

#weather .weather-bottom {
    padding: 6px 0 30px;
}

#weather .weather-bottom p {
    color: #767678;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.5px;

    text-align: center;
}

/* Now */
#now {
    background-color: #fff;
    padding: 20px 0 16px;
    margin-top: 10px;
}

#now h2 {
    font-size: 18px;
    font-weight: 700;
    color: red;
    margin-bottom: 14px;
    margin-left: 20px;
}

#now ul {
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    padding-left: 20px;
}

#now ul li {
    margin-right: 10px;
}

#now ul li:last-child {
    margin-right: 0;
}

#now ul a {
    color: #000;
}

#now ul img {
    width: 100px;
    height: 138px;
    border-radius: 5px;
}

#now ul p {
    font-size: 14px;
    padding-top: 10px;
}

#now .btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    overflow: hidden;
    width: 335px;
    border-radius: 10px;
    background-color: #f5f8fb;
    margin: 20px auto 0;
}

#now .btn-wrap a {
    display: block;
    width: 50%;
    height: 44px;
    text-align: center;
    line-height: 44px;
    color: #767678;
}

#now .btn-shopping::before {
    content: '';
    display: block;
    width: 1px;
    height: 14px;

    margin-top: 15px;
    background-color: rgba(125, 127, 133, 0.2);
    vertical-align: top;
    float: left; /* 레이아웃이 틀리는 현상을 없애기 위함 */
}

/* Banner 2 */
#banner-2 {
    background-color: #fff;
    margin-top: 10px;
}

#banner-2 .banner-wrap {
    width: 320px;
    margin: 0 auto;
}

#banner-2 img {
    width: 100%;
}

/* Banner 3 */
#banner-3 {
    background-color: #fff;
    margin-top: 10px;
}

#banner-3 .banner-wrap {
    width: 320px;
    margin: 0 auto;
}

#banner-3 img {
    width: 100%;
}

/* Banner 4 */
#banner-4 {
    overflow: hidden;
    background-color: #fff;
    margin-top: 10px;
}

#banner-4 .banner-wrap {
    width: 100%;
    height: 155px;
}

#banner-4 img {
    position: relative;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
}

/* Corona */
#corona {
    background-color: #fff;
    margin-top: 10px;
}

#corona .container {
    padding: 0 20px;
}

#corona .corona-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#corona a {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    padding: 20px 0;
}

#corona a.right-corona {
    padding-left: 11px;
}

#corona a.right-corona::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 42px;
    background-color: #efeff0;

    top: 20px;
    left: 0;
}

#corona a img {
    width: 35px;
    margin-right: 8px;
    border-radius: 50%;
}

#corona a .txt-wrap h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

#corona a .txt-wrap p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
    color: #000;
}

/* AI */
#ai {
    background-color: #fff;
    margin-top: 10px;
}

#ai .container {
    padding: 0 20px;
}

#ai .ai-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 0;
}

#ai .ai-wrap .ai-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

#ai .ai-wrap .ai-left img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 8px;
}

#ai .ai-wrap .ai-left p {
    font-size: 15px;
    color: #424242;
    font-weight: 400;
}

#ai .ai-wrap .ai-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

#ai .ai-wrap .ai-right p {
    font-size: 14px;
    font-weight: 400;
    color: #03c95b;
}

/* Talk */
/* float 속성의 영향으로 레이아웃이 틀어지는 현상을 이용해서 레이아웃 배치 작업을 함 */
#talk {
    padding: 20px 0;
}

#talk ul {
    overflow: hidden; /* float 속성의 영향으로 자식 요소의 높이값을 제대로 인식못하는 현상을 해결함 */
}

#talk li {
    position: relative;
    width: 277px;
    background-color: #fff;
    padding: 15px 0 15px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 4%);
    margin-bottom: 12px;
}

#talk li:last-child {
    margin-bottom: 0;
}

#talk li a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    color: black;
}

#talk .icon-arrow {
    display: inline-block;
    width: 20px;
    height: 16px;
}

#talk .txt-wrap h3 {
    font-size: 14px;
    font-weight: 600;
}

#talk .txt-wrap p {
    font-size: 13px;
    line-height: 16px;
    margin-top: 3px;
}

#talk .content-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#talk img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

#talk .left-list {
    float: left;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#talk .left-list .icon-arrow-left {
    background-color: purple;
}

#talk .left-list h3 {
    color: purple;
}

#talk .left-list img {
    margin-left: 8px;
}

#talk .right-list {
    float: right;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

#talk .right-list .icon-arrow-right {
    background-color: #0ac666;
}

#talk .right-list h3 {
    color: #0ac666;
}

#talk .right-list img {
    margin-right: 8px;
}

/* Today */
#today {
    padding: 50px 0;
}

#today .container {
    padding: 0 20px;
}

#today .content-body {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 4%);
}

#today .content-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding-top: 24px;
    margin-bottom: 10px;
    border-top: solid 1px #e0e4ea;
}

#today .content-header h2 {
    font-size: 18px;
    font-weight: bold;
}

#today .content-header a {
    color: #767678;
    font-size: 14px;
    font-weight: 400;
}

#today .content-body .banner {
    width: 100%;
    height: 140px;
}

#today .content-body .bottom-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: 14px 13px 12px 15px;
}

#today .content-body .bottom-wrap .icon {
    display: block;
    width: 52px;
    height: 52px;
    background-color: purple;
    border-radius: 50%;
    margin-right: 8px;
}

#today .content-body .bottom-wrap h3 {
    font-size: 15px;
    font-weight: 600;
}

#today .content-body .bottom-wrap p {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #929294;
}

/* Footer */
#footer {
    padding: 35px 0 80px;
}

#footer .txt-wrap {
    text-align: center;
}

#footer .txt-wrap a {
    position: relative;
    display: inline-block;
    padding: 3px 9px;
    color: #929294;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.5px;
}

#footer .txt-wrap a::before {
    position: absolute;
    top: 7px;
    left: 0;
    content: '';
    display: block;
    width: 1px;
    height: 10px;
    background-color: #d7dfe7;
}

/* br 태그가 중간에 들어가면 연속성이 깨진다. */
#footer .txt-wrap .link a:first-child::before {
    content: none;
}

#footer h1 {
    text-align: center;
}

#footer img {
    width: 74px;
}
