.blog-container {
    width: 1080px;
    margin: 0 auto;
}

#blog-header .blog-header__top {
    height: 60px;
    background-color: #00c73c;
    border-bottom: 1px solid #51b036;
}

#blog-header .blog-header__top .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Bolg header Left */
#blog-header .blog-header__top .blog-header-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-header .blog-header__top .blog-header-left h2 {
    font-size: 20px;
    margin-right: 20px;
}

#blog-header .blog-header__top .blog-header-left h2 a {
    color: white;
    font-weight: 700;
}

#blog-header .blog-header__input-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-header .blog-header__input-wrap .blog-search-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 325px;
    height: 40px;
    background-color: white;

    margin-right: 5px;
}

#blog-header .blog-header__input-wrap .blog-search-wrap input {
    width: calc(100% - 40px);
    height: 40px;
    border: solid 1px #4da733;
    background-color: white;

    padding: 0 15px;
}
#blog-header .blog-header__input-wrap .blog-search-wrap input:focus {
    outline: none;
}

#blog-header .blog-header__input-wrap .blog-search-wrap .btn-search {
    width: 40px;
    height: 40px;
    background-color: #28a93a;
    border: solid 1px #239e36;
}

#blog-header .blog-header__input-wrap .btn-total-search {
    width: auto;
    height: 40px;
    background-color: #28a93a;
    border: solid 1px #239e36;

    padding: 0 5px;

    line-height: 40px;
    color: white;
}

/* Blog Header Right */
#blog-header .blog-header__top .blog-header-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

#blog-header .blog-header__top .blog-header-right .btn-login {
    display: inline-block;
    border: solid 1px #239e36;
    padding: 2px 5px;
    margin-right: 20px;
    color: white;
    font-size: 12px;
}

#blog-header .blog-header__top .blog-header-right .btn-menu {
    width: 60px;
    height: 60px;
    background-color: #00c73c;
    border-left: solid 1px #239e36;
    border-right: solid 1px #239e36;

    cursor: pointer;
}

/* Blog Header Nav */
#blog-header .blog-header__nav {
    height: 40px;
    background-color: white;
    border-bottom: solid 1px #e5e5e5;
}

#blog-header .blog-header__nav .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Nav Left */
#blog-header .blog-header__nav .nav-left {
}

#blog-header .blog-header__nav .nav-left ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-header .blog-header__nav .nav-left ul li {
    height: 40px;
    margin-right: 16px;
    border-bottom: solid 2px transparent;
}

#blog-header .blog-header__nav .nav-left ul li.on {
    border-bottom: solid 2px #00ab33;
}

#blog-header .blog-header__nav .nav-left li a {
    display: block;

    width: 100%;
    height: 100%;
    line-height: 40px;

    font-size: 13px;
}

/* Nav Right */
#blog-header .blog-header__nav .nav-right {
}

#blog-header .blog-header__nav .nav-right ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

#blog-header .blog-header__nav .nav-right li {
    width: auto;
    height: 26px;

    margin-right: 8px;
}

#blog-header .blog-header__nav .nav-right li.on a {
    background-color: #00c73c;
    border: solid 1px rgba(0, 0, 0, 0.07);
    color: #ffffff;
}

#blog-header .blog-header__nav .nav-right li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #cecece;

    line-height: 26px;
    padding: 0 10px;

    font-size: 13px;
}

/* Blog Main */
#blog-main .hot-topic {
    height: 305px;
    background-color: #f5f5f6;
    padding: 20px 0 15px;
}

#blog-main .hot-topic .blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Hot Topic Left */
#blog-main .hot-topic-left {
    position: relative;
    width: 770px;
}

#blog-main .hot-topic-left .topic-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 11px;
}

#blog-main .hot-topic-left .topic-heading h3 {
    font-size: 16px;
    font-weight: 600;
    color: #e55e5e;
}

#blog-main .hot-topic-left .topic-heading i {
    display: block;
    width: 8px;
    height: 13px;
    background-color: grey;
    margin: 0 8px;
}

#blog-main .hot-topic-left .topic-heading a {
    font-size: 16px;
}

#blog-main .hot-topic-left .topic-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#blog-main .hot-topic-left .topic-lists li {
    position: relative;
    width: 252px;
    height: 240px;
}

#blog-main .hot-topic-left .topic-lists img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#blog-main .hot-topic-left .topic-lists p {
    position: absolute;
    width: 100%;
    background-color: rgba(55, 66, 87, 0.9);

    padding: 20px 0;

    bottom: 0;

    color: white;

    text-align: center;
}

#blog-main .pagination-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    position: absolute;
    top: 0;
    right: 0;
}

#blog-main .pagination-wrap a {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 4px;
    border: solid 1px rgba(221, 221, 223, 0.8);
    background-color: #f6f6f7;

    color: #888;

    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

/* Hot Topic Right */
#blog-main .hot-topic-right {
    position: relative;
    width: 280px;
    padding-top: 30px;
}

#blog-main .hot-topic-right .topic-banner {
    width: 280px;
    height: 240px;
    background-color: black;
}

/* Blog Main Content */
#blog-main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Blog Main Content Left */
#blog-main-content .blog-main-left {
    width: 770px;
}

#blog-main-content .blog-main-left .blog-main-notification {
    background-color: white;
    padding: 54px 0;

    text-align: center;
}

#blog-main-content .blog-main-left .blog-main-notification p {
    font-size: 16px;
    line-height: 30px;
}

#blog-main-content .blog-main-left .blog-article .blog-article-nav {
    background-color: white;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;

    padding: 10px 0;

    font-size: 14px;
}

#blog-main-content .blog-main-left .blog-article .blog-article-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-main-content .blog-main-left .blog-article .blog-article-nav li {
    margin-right: 22px;
}

/* Blog Article */
#blog-main-content .blog-main-left .blog-article-lists {
}

#blog-main-content .blog-main-left .blog-article-lists li {
    width: 100%;
    border-bottom: solid 1px #eeeeef;

    padding: 25px 0 23px;
}

#blog-main-content .blog-main-left .blog-article-lists li a {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

#blog-main-content .blog-main-left .blog-article-lists .blog-article-info {
    width: 573px;
}

#blog-main-content .blog-main-left .blog-article-lists .blog-profile-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-main-content .blog-main-left .blog-article-lists .blog-profile-wrap img {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    margin-right: 10px;
}

#blog-main-content .blog-main-left .blog-article-lists .blog-profile-info {
}

#blog-main-content .blog-main-left .blog-article-lists .blog-profile-info h3 {
    font-size: 14px;
    margin-bottom: 3px;
}

#blog-main-content .blog-main-left .blog-article-lists .blog-profile-info p {
    font-size: 11px;
    color: #959595;
}

#blog-main-content .blog-main-left .blog-article-lists h2 {
    margin-top: 16px;
    font-size: 17px;
}

#blog-main-content .blog-main-left .blog-article-lists .paragraph {
    margin-top: 10px;
    font-size: 13px;
    color: #666666;
}

#blog-main-content .blog-main-left .blog-article-lists .comments {
    margin-top: 14px;
    color: #959595;
    font-size: 12px;
}

#blog-main-content .blog-main-left .blog-article-lists .comments span {
    margin-right: 9px;
}

#blog-main-content .blog-main-left .blog-article-lists .comments em {
    font-style: normal;
}

/* Blog Main Content Right */
#blog-main #blog-main-content .blog-main-right {
    width: 280px;
}

/* Blog Account */
.blog-main-right .blog-account {
    width: 100%;
    background-color: #f3f3f6;
    border: solid 1px #dddddf;
    padding: 20px 15px;
    margin-bottom: 12px;
}

.blog-main-right .blog-account p {
    font-size: 11px;
    color: #888;
    margin-bottom: 7px;
}

.blog-main-right .blog-account a {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    border-radius: 4px;

    padding: 10px 0;
    margin-bottom: 12px;

    text-align: center;
    font-size: 13px;
    color: #000000;
    font-weight: 700;
}

.blog-main-right .blog-account .account_sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 8px;
}

.blog-main-right .blog-account .account_sub span {
    font-size: 11px;
    color: #888;
}

/* Blog Banner */
.blog-main-right .blog-banner {
    width: 100%;
    height: 240px;
    background-color: black;
    border: solid 1px #dddddf;
}

/* Blog Guide */
.blog-main-right .blog-guide {
    background-color: #ffffff;
    border: solid 1px #dddddf;
    border-width: 0 1px 1px;

    padding: 19px 20px;
}

.blog-main-right .blog-guide a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.blog-main-right .blog-guide p {
    width: 145px;
    font-size: 17px;
    line-height: 29px;
    color: #222;
}

.blog-main-right .blog-guide p span {
    font-size: 18px;
    font-weight: 700;
}

.blog-main-right .blog-guide i {
    display: inline-block;

    width: 88px;
    height: 65px;
    background-color: green;
}

/* Blog Notice */
.blog-main-right .blog-notice {
    background-color: #ffffff;
    border: solid 1px #dddddf;
    border-width: 0 1px 1px;

    padding: 24px 22px 22px;
}

.blog-main-right .blog-notice .blog-notice-title-wrap {
    margin-bottom: 13px;
}

.blog-main-right .blog-notice .blog-notice-title-wrap a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.blog-main-right .blog-notice .blog-notice-title-wrap h3 {
    font-size: 14px;
    font-weight: 600;
}

.blog-main-right .blog-notice .blog-notice-title-wrap i {
    width: 8px;
    height: 13px;
    background-color: #000000;
}

.blog-main-right .blog-notice .blog-notice-lists {
    font-size: 12px;
}

.blog-main-right .blog-notice .blog-notice-lists li {
    margin-bottom: 4px;
}

.blog-main-right .blog-notice .blog-notice-lists li:last-child {
    margin-bottom: 0;
}

.blog-main-right .blog-helper {
    background-color: #ffffff;
    border: solid 1px #dddddf;
    border-width: 0 1px 1px;

    padding: 24px 16px;
}

.blog-main-right .blog-helper li {
    font-size: 14px;
    margin-bottom: 10px;
}

.blog-main-right .blog-helper li a {
    display: block;
    height: 35px;
    line-height: 35px;
    /* 텍스트만 영향을 받음 */
    padding-left: 30px;

    /* 
    아이콘을 넣을 때  <i>태그를 사용하거나
    background-image 속성을 사용할 수 있다.
    강사님은 주로 background-image 속성을 사용하는 편.
    */
    background-image: url(../img/checkbox.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px 20px;
}

/* Blog Footer */
#blog-footer {
    padding-top: 40px;
    padding-bottom: 55px;
    background-color: #f6f6f6;

    text-align: center;
}

#blog-footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

#blog-footer ul a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #d7d7d7;

    margin: 0 6px;

    vertical-align: -1px;
}

#blog-footer ul:first-child a:before {
    content: initial;
}

/* Blog Main Detail */
/* Program */
.blog-border {
    border: 1px solid #eaeaec;
}

#blog-main-detail {
    padding-top: 0;
    padding-bottom: 100px;
}

#blog-main-detail #program {
    background-color: #634ea4;
    padding: 62px 0 50px;

    color: #ffffff;
}

#blog-main-detail #program h3 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 10px;
}

#blog-main-detail #program p {
    font-size: 16px;
}

/* Program Nav */
#blog-main-detail #program-nav {
    border-bottom: solid 1px #ebebeb;
    background-color: #ffffff;

    padding: 10px 0;
}
#blog-main-detail #program-nav .blog-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-main-detail #program-nav a {
    font-size: 14px;
    color: #666;
}

#blog-main-detail #program-nav h4 {
    font-weight: 600;
}

#blog-main-detail #program-nav h4 a {
    color: #000;
}

#blog-main-detail #program-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#blog-main-detail #program-nav ul a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #ababab;
    margin: 0 12px;

    vertical-align: -1px;
}

/* Program Info */
#blog-main-detail #program-info {
    background-color: #f8f8f8;
    padding: 44px 0 36px;
}

#blog-main-detail #program-info .program-info-wrap {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 50px;
}

#blog-main-detail #program-info .program-info-wrap h4 {
    font-size: 32px;
    color: #7d55c8;
    line-height: 44px;

    margin-right: 120px;
}

#blog-main-detail #program-info .program-info-wrap p {
    font-size: 18px;
    line-height: 28px;
    color: #262626;

    margin-bottom: 18px;
}

#blog-main-detail #program-info .program-info-wrap a {
    font-size: 13px;
    color: #7d55c8;
}

#blog-main-detail #program-info .program-msg-box {
    padding: 29px;
    background-color: #ffffff;
}

#blog-main-detail #program-info .program-msg-box .from {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #7d55c8;

    margin-bottom: 6px;
}

#blog-main-detail #program-info .program-msg-box .program-msg-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

#blog-main-detail #program-info .program-msg-box p {
    width: 810px;
    font-size: 18px;
}

#blog-main-detail #program-info .program-msg-box .date {
    color: #693bbc;
}

#blog-main-detail #program-info .program-msg-box .txt::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #d5d5d5;

    margin: 0 9px;
    vertical-align: -1px;
}

#blog-main-detail #program-info .program-msg-box a {
    display: block;
    width: 179px;
    height: 40px;
    background-color: #7d55c8;
    color: #ffffff;
    line-height: 44px;
    text-align: center;
}

#blog-main-detail #program-info .program-msg-box a:hover {
    background-color: rgba(125, 85, 200, 0.8);
}

/* Program Day */
#blog-main-detail #program-day {
    background-color: #ffffff;
}

#blog-main-detail #program-day .program-day-lists {
}

#blog-main-detail #program-day .program-day-list {
}

#blog-main-detail #program-day .program-day-title-wrap {
    padding: 36px 0 16px;
}

#blog-main-detail #program-day .program-day-title-wrap .date {
    color: #693bbc;
    font-size: 16px;
}

#blog-main-detail #program-day .program-day-title-wrap .txt {
    font-size: 16px;
}

#blog-main-detail #program-day .program-day-title-wrap .txt::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 18px;
    background-color: #d5d5d5;

    margin: 0 9px;
    vertical-align: -4px;
}

#blog-main-detail #program-day .program-day-title-wrap .msg {
    font-size: 14px;
    color: #666666;
}

#blog-main-detail #program-day .program-image-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#blog-main-detail #program-day .program-image-lists li {
    width: 175px;
    height: 228px;
}

#blog-main-detail #program-day .program-image-lists li img {
    width: 100%;
    margin-bottom: 15px;
}

#blog-main-detail #program-day .program-image-lists li h4 {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

#blog-main-detail #program-day .program-image-lists li span {
    font-size: 12px;
    color: #959595;
}
