/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0e0e10;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
button,
a {
    color: #fff;
}

.btn-purple {
    background-color: #9147ff;
    color: #fff;
}

.font-purple {
    color: #9147ff;
}

.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1340px; /*특정 지점에서 더이상 줄어들지 않게 하기 위함*/
}

/* Top Nav */
#top-nav {
    /* fixed를 적용하면 크기가 제대로 잡히지 않기 때문에 width 값이 필요하다. */
    position: fixed;
    width: 100%;
    height: 50%;
    background-color: #0e0e10;
    padding: 0 15px;
    min-width: 1340px;
}

/* Nav Left */
#top-nav .nav-wrap .nav-left .log a img {
    width: 24px;
    height: 28px;
}

#top-nav .nav-wrap .nav-left ul li {
    height: 50px;
    font-size: 20px;
    padding: 0 20px;
}

#top-nav .nav-wrap .nav-left ul li:first-child {
    padding-right: 0;
}

#top-nav .nav-wrap .nav-left ul li:first-child a::after {
    position: relative;
    top: 8px;
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: gray;

    margin-left: 20px;
}

#top-nav .nav-wrap .nav-left ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 50px;
}

#top-nav .nav-wrap .nav-left .more span {
    display: block;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding-left: 20px;
}

/* Nav Center */
#top-nav .nav-center {
    /* 중앙에 위치하려면 flex의 영향을 받지 않게 해야 한다. */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#top-nav .nav-center .search-wrap {
    width: 380px;
    height: 36px;
    background-color: yellow;
    overflow: hidden;
    border-radius: 5px;
}

#top-nav .nav-center .search-wrap input {
    width: calc(100% - 34px);
    height: 100%;
    background-color: gray;
}

#top-nav .nav-center .search-wrap .btn-search {
    width: 34px;
    height: 100%;
    background-color: darkgray;
}

/* Nav Right */
#top-nav .nav-right .mark-wrap {
    position: relative;
}

#top-nav .nav-right .mark-wrap .icon-mark {
    display: block;
    width: 20px;
    height: 20px;
    background-color: yellow;
    cursor: pointer;
}

#top-nav .nav-right .mark-wrap .alarm {
    position: absolute;
    border-radius: 15px;
    background-color: red;
    color: #fff;
    font-size: 14px;

    padding: 4px 8px 4px;

    top: -12px;
    right: -20px;
}

#top-nav .nav-right .btn-login {
    width: 53px;
    height: 30px;
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    font-size: 12px;
}

#top-nav .nav-right .btn-purple {
    width: 53px;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

#top-nav .nav-right .btn-profile {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-left: 10px;
}

/* Left Area */
.left-area {
    position: fixed;
    width: 240px;
    background-color: #202024;
    top: 50px; /* top nav 높이만큼 내림 */
    bottom: 0; /* height 100% */
    left: 0;
    overflow-y: auto; /* 스크롤 */
}

.left-area .channel-wrap .channel-header {
    padding: 10px;
}

.left-area .channel-wrap .channel-header h3 {
    font-size: 15px;
}

.left-area .channel-wrap .channel-header .icon-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
}

.left-area .channel-wrap .channel-body {
}

.left-area .channel-wrap .channel-body ul {
}

.left-area .channel-wrap .channel-body li {
}

.left-area .channel-wrap .channel-body a {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    align-items: flex-start;
}

.left-area .channel-wrap .channel-body img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-area .channel-wrap .channel-body .txt-wrap {
    width: 110px;
    margin-left: 10px;
}

.left-area .channel-wrap .channel-body .txt-wrap h4 {
    font-size: 13px;
}

.left-area .channel-wrap .channel-body .txt-wrap .source {
    font-size: 12px;
    color: gray;
}

.left-area .channel-wrap .channel-body .count {
    display: block;
    width: 50px;
    font-size: 12px;
}

.left-area .channel-wrap .channel-body .count::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;

    margin-right: 5px;
    top: 1px;
}

/* Join Wrap */
.left-area .join-wrap {
    margin: 10px;
}

.left-area .join-wrap .txt-wrap {
    padding: 20px;
    background-color: #18181a;
}

.left-area .join-wrap .txt-wrap .h2 {
    font-size: 24px;
}

.left-area .join-wrap .txt-wrap h2 span {
}

.left-area .join-wrap .txt-wrap p {
    margin-top: 10px;
    font-size: 13px;
}

.left-area .join-wrap .txt-wrap .btn-purple {
    margin-top: 10px;
    width: 53px;
    height: 30px;
    border-radius: 5px;

    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

.left-area .info-wrap {
    font-size: 12px;
    margin: 0 10px 10px 10px;
}

.left-area .info-wrap p {
    color: gray;
}

.left-area .info-wrap ul {
    margin-top: 10px;
}

.left-area .info-wrap li {
}

.left-area .info-wrap li a {
    color: gray;
}

.left-area .info-wrap li a::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: gray;

    margin: 0 5px;
}

.left-area .info-wrap li:last-child a::after {
    content: none;
}

/* 08-23 */
/* 
왼쪽 영역에 스크롤에 생겨도 레이아웃이 틀어지지 않게 하려면
다른 사람이 만들어 놓은 jQuery Scrollbar를 이용하는 것도 좋은 방법이다.
https://gromo.github.io/jquery.scrollbar/demo/basic.html 

내부 콘텐츠 영역의 상단 부분은 자바스크립트와 제이쿼리를 사용해야 구현 가능하다. (지금은 스킵)
그리고 오른쪽의 스크롤바는 내부 콘텐츠 영역에 한해서 생기도록 할 것이다.


내부 콘텐츠 영역의 요소들이 왼쪽 사이드바와 상단 네비바에 의해 겹쳐지는 것을 볼 수 있다.
이를 해결하기 위해 콘텐츠 영역에 position: absolute;를 적용했고, 
position 관련 속성을 이용해 영역을 잡아주었다.
*/

.content {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 240px;

    overflow-y: auto; /* 콘텐츠 영역 내부에서만 스크롤바가 생기도록 설정함 */
}

.content h1 {
    font-size: 40px;
}

#content-banner {
    position: relative;
    width: 100%;
    height: 350px;
    background: center / cover no-repeat url('../img/notebook.jpg');
    /*
    background는 단축 속성.
    background-size: cover;는 가로 세로 비율은 그대로 유지하되,
    브라우저 크기를 줄이거나 늘릴 때마다 이미지의 크기를 자동적으로 조절해준다.
    이미지를 세로 또는 가로방향으로 잘라내어 빈 공간이 생기지 않도록 설정한다. 
    보통 이미지 내부에 있는 주요 콘텐츠들이 잘 보이게끔 하기위해
    콘텐츠들이 가운데로 모이게 작업한다.
    */
}

#content-banner .layer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#content-banner .layer .txt-wrap {
    position: absolute;
    top: 170px;
    right: 200px;
}

/*
.main-container에 min-width 값을 부여했음에도 불구하고 적용이 되고 있지 않는다.
그 이유는 자식 요소들이 모두 3차원이기 때문에 
부모 요소가 자식 요소의 width와 height 값을 제대로 인식하지 못하고 있기 때문이다.
그래서 main-container에 position: relative;를 적용하고
브라우저의 높이 값을 인식하도록 height: 100%를 적용했다.
*/

/*
트위치 웹사이트는 브라우저의 크기에 따라 요소들의 크기도 변하지만
지금 실습에서는 고정 값으로 설정할 것이다. 
.content-container 내부에 있는 콘텐츠들은 항상 중앙에 배치되도록 설정했다.
*/

.content .content-container {
    width: 1240px;
    margin: 0 auto;
}

/* Tag default */
.content-container .tag-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.content-container .tag-wrap .tag {
    font-size: 12px;
    color: #fff;
    background: gray;
    border-radius: 8px;

    padding: 2px 4px 0;
    margin-right: 5px;
}

.content-container .tag-wrap .tag:last-child {
    margin-right: 0;
}

.content-container .txt-wrap {
}

.content-container .txt-wrap h3 {
    font-size: 16px;
}

/* Vedio Section */
.video-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;

    border-bottom: solid 1px gray;
}

.video-section .title-wrap {
    padding-bottom: 10px;
}

.video-section .title-wrap h2 {
    font-size: 20px;
}

.video-section .video-wrap {
}

.video-section .video-wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-section .video-wrap li {
    width: 330px;
}

.video-section .video-wrap a {
}

.video-section .video-wrap .image-wrap {
    position: relative;
    width: 333px;
    height: 186px;
    background-color: #9147ff;
}

.video-section .video-wrap .image-wrap img {
    width: 100%;
    height: 100%;
    transition: transform 0.15s linear;
}

.video-section .video-wrap .image-wrap:hover img {
    transform: translate(10px, -10px);
}

.video-section .video-wrap .image-wrap .mark {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 5px;
    background: red;

    padding: 2px 4px 0;

    font-size: 14px;
}

.video-section .video-wrap .video-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.video-section .video-wrap .video-bottom .thumbnail {
    width: 40px;
    height: 40px;
}

.video-section .video-wrap .video-bottom .txt-wrap {
    width: calc(100% - 50px);
}

.video-section .video-wrap .video-bottom .txt-wrap .source,
.video-section .video-wrap .video-bottom .txt-wrap .game {
    font-size: 14px;
    color: gray;
}

.video-section .btn-more {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #0e0e10;

    text-align: center;
    line-height: 30px;

    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

/* Category Section */
.category-section {
    padding-top: 60px;
    padding-bottom: 40px;
}

.category-section .title-wrap {
    padding-bottom: 10px;
}

.category-section .title-wrap h2 {
    font-size: 20px;
}

.category-section .category-wrap {
}

.category-section .category-wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-section .category-wrap li {
    width: 152px;
}

.category-section .category-wrap img {
    width: 152px;
    height: 203px;
    margin-bottom: 10px;
}

.category-section .category-wrap .txt-wrap {
}

.category-section .category-wrap .txt-wrap .count {
    font-size: 14px;
    color: gray;
}

/* Footer */
footer {
    width: 100%;
    padding: 80px 0 150px;
}

footer .txt-wrap {
    text-align: center;
}

footer .txt-wrap p {
    font-size: 14px;
}

footer .footer-bottem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 20px;
}

footer ul {
    display: flex;
}

footer ul li {
}

footer ul li a {
    color: gray;
    font-size: 14px;
}

footer ul li a::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: gray;
    margin: 0 8px;
    position: relative;
    top: 1px;
}

footer ul li:last-child a::after {
    content: none;
}
